Repository Engenharia-de-Software-UFRPE/lanterna-verde, pull requests merged in 2022-10, with the labels that each got.

#81 [Fix] Analista faz logout no back-end
  Frontend/src/components/Analyst/navbar/NavbarAnalyst.js
Labels: bug, front-end, hacktoberfest

#84 [Feature] Métodos Públicos para Listar e Detalhar Empresa
  lanternaverde_web/empresa.py
  lanternaverde_web/serializers.py
  lanternaverde_web/urls.py
  lanternaverde_web/views.py
Labels: enhancement, back-end, hacktoberfest

#85 [Feature] Visual amigável para a Tela de Questionário do Analista
  Frontend/public/images/v.svg
  Frontend/public/images/x.svg
  Frontend/src/components/Analyst/analysis/Analysis.css
  Frontend/src/components/Analyst/analysis/AnalysisDetails.js
  Frontend/src/components/Analyst/analysis/Question.css
  Frontend/src/components/Analyst/analysis/Questions.js
  Frontend/src/components/Analyst/analysis/QuestionsFinished.js
Labels: enhancement, hacktoberfest

#87 [Feature] Esconder justificativa e fonte implementado
  Frontend/src/components/Analyst/analysis/Question.css
  Frontend/src/components/Analyst/analysis/Questions.js
  Frontend/src/components/Analyst/analysis/QuestionsFinished.js
Labels: front-end, hacktoberfest

#94 [Feature] Barra de progresso implementada e opção de questão não respondida
  Frontend/src/components/Analyst/analysis/Analysis.css
  Frontend/src/components/Analyst/analysis/AnalysisDetails.js
  Frontend/src/components/Analyst/analysis/Question.css
  Frontend/src/components/Analyst/analysis/Questions.js
  lanternaverde_web/models.py
  lanternaverde_web/utils/countdimension.py
Labels: enhancement, back-end, hacktoberfest

#88 [Feature] Aplicar Validação de CSRF para requisições POST
  Frontend/src/App.js
  Frontend/src/components/AdminScreen/AdmContainer/Notify.js
  Frontend/src/components/AdminScreen/AnalysisHistory/Report.js
  Frontend/src/components/AdminScreen/AnalysisSolicitation/SolAnalise.js
  Frontend/src/components/Analyst/analysis/AnalysisDetails.js
  Frontend/src/components/Analyst/analystData/AnalystDataScreenEdit.js
  Frontend/src/components/company-components/company-confirmation-popup/CompanyConfirmationPopup.js
  Frontend/src/components/company-components/company-payment-form/CompanyPaymentForm.js
  Frontend/src/components/company-components/company-profile-change/CompanyProfileChange.js
  lanternaverde/settings.py
  lanternaverde_web/views.py
Labels: front-end, back-end, hacktoberfest

#97 [Feature] Notícias
  lanternaverde_web/admin.py
  lanternaverde_web/control_news.py
  lanternaverde_web/models.py
  lanternaverde_web/serializers.py
  lanternaverde_web/urls.py
  lanternaverde_web/views.py
Labels: feature, back-end, hacktoberfest

#99 [Chore] Back-end permite acesso apenas a porta 3000
  lanternaverde/settings.py
Labels: back-end, hacktoberfest
